<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Example</title>
</head>
<body>
<table>
    <tr>
        <th>Horoscope</th>
        <th>Element</th>
    </tr>
    {% for horoscope in horoscopes %}
        <tr>
            <td>{{ horoscope.sign }}</td>
            <td>{{ horoscope.element }}</td>
        </tr>
    {% endfor %}
</table>
<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>City</th>
    </tr>
    {% for row in table_data %}
        <tr>
            <td>{{ row.Name }}</td>
            <td>{{ row.Age }}</td>
            <td>{{ row.City }}</td>
        </tr>
    {% endfor %}
</table>

</body>
</html>
