<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AstroAligned</title>
</head>
<body>
    <!-- zodiac_comparison.html -->
    <h2>Strengths and Weaknesses Comparison</h2>
    <table>
        <tr>
            <th>{{ sign1.sign }}</th>
            <th>{{ sign2.sign }}</th>
        </tr>
        <tr>
            <td>Strengths: {{ strengths_weaknesses_sign1.strength }}</td>
            <td>Strengths: {{ strengths_weaknesses_sign2.strength }}</td>
        </tr>
        <tr>
            <td>Weaknesses: {{ strengths_weaknesses_sign1.weakness }}</td>
            <td>Weaknesses: {{ strengths_weaknesses_sign2.weakness }}</td>
        </tr>
    </table>

</body>
</html>